<div class = "row my-5">
    <div class = "col">
        <h1 class ="text-center">도서검색</h1>
    </div>
</div>

<script>
    getBooks();
    //도서검색 목록 가져오기
    function getBooks(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization":"KakaoAK 73de3d69833f8e6d6e5900a43c99b7b2"},
            data:{query:'자바', page:1, size:10},
            success:function(data){
                console.log(data);

            }

        });
    }
</script>